.gallery-lb {
  display: grid;
  gap: 16px;
}

/* Desktop */
@media (min-width: 1024px) {
  .gallery-lb {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1023px) {
  .gallery-lb {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 599px) {
  .gallery-lb {
    grid-template-columns: 1fr;
  }
}


.gallery-lb a {
  position: relative;
  display: block;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  line-height: 0;
}

.gallery-lb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  vertical-align: middle;
}

.gallery-lb br {
  display: none;
}

#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  text-align: center;
  z-index: 9999;
}

#lightbox p {
  color: #fff;
  margin: 20px;
  font-size: 14px;
}

#lightbox img {
  max-width: 90vw;
  max-height: 80vh;
  box-shadow: 0 0 25px #111;
}
