img {
  max-width: 100%; 
  display: block; 
  height: auto;
}

#headerimage {
  overflow: hidden;
  width: 100%;
  aspect-ratio: 16 / 9;
  margin-bottom: 1.5rem;
}

#headerimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;       /* crop top/bottom */
  object-position: center; /* adjust if needed */
  display: block;
}

 @font-face {
   font-family: Poppins; /* set name */
   src: url(https://rawcdn.githack.com/mcmasterhcs/css-snippets/0e34cea62ee5457d33bc5c42ea9fdff2ab69a75e/skeleton/poppins/woff2/Poppins-Regular.woff2); /* url of the font */
 }
  .container {
    font-family: Poppins;
    font-size: 1.8rem;
    line-height: 1.5;
  }