/* Admonition Text */

/* To use, add this HTML (when this CSS is loaded):

<div class="goldbox">
<p class="goldbox-title">Note</p>
<p class="goldbox-text">All applications must be completed by <strong>this bold due date, 2026.</strong></p></div> 

*/

.goldbox {
  background-color: white;
  overflow: hidden;
  margin: 1.5rem 0;
  width: 100%;
  max-width: 75ch; /* Included because it doesn't look good at 100% width on single-column layouts. This basically means it'll be 100% width on two-column layouts but stay a max of 75ch on one-column layouts */
}

.goldbox-title {
  background-color: #FDBF57;
  color: black;
  font-weight: bold;
  margin: 0;
  padding: 10px 16px;
}

.goldbox-text {
  margin: 0;
  padding: 1em 3em 1em 1em;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
}

.maroonbox {
  background-color: white;
  overflow: hidden;
  margin: 1.5rem 0;
  width: 100%;
  max-width: 75ch; /* Included because it doesn't look good at 100% width on single-column layouts. This basically means it'll be 100% width on two-column layouts but stay a max of 75ch on one-column layouts */
}

.maroonbox-title {
  background-color: #7A003C;
  color: white;
  font-weight: bold;
  margin: 0;
  padding: 10px 16px;
}

.maroonbox-text {
  margin: 0;
  padding: 1em 3em 1em 1em;
  border-left: 1px #eee solid;
  border-right: 1px #eee solid;
  border-bottom: 1px #eee solid;
}
